<a href="https://colab.research.google.com/github/rheona2000/Pandas-basics/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas library ( panel data)

In [ ]:
import pandas as pd
series1=pd.Series([1,2,3,4,5])
print(series1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s2=pd.Series([90,80,70,60],index=["rio","sio","mio","jio"])
print(s2)

rio    90
sio    80
mio    70
jio    60
dtype: int64

In [ ]:
s3=pd.Series(["a",'b',"c","d"],index=[12,23,23,23])
print(s3)

12    a
23    b
23    c
23    d
dtype: object

In [ ]:
import pandas as pd
s4=pd.Series(["feb","mar","apr"], index=['2','3','4'])
print(s4)

2    feb
3    mar
4    apr
dtype: object

inbuilt fuctions in the series

using numpy arrays

In [ ]:
import numpy as np
a1=np.array([1,2,3,4])
s5=pd.Series(a1,index=['jan','feb','mar','apr'])
print(s5)

jan    1
feb    2
mar    3
apr    4
dtype: int64

using Dictionaries

In [ ]:
d1={'india':'delhi','japan':'tokyo','uk':'london'}
s6=pd.Series(d1)
print(d1)
print(s6)

{'india': 'delhi', 'japan': 'tokyo', 'uk': 'london'}
india     delhi
japan     tokyo
uk       london
dtype: object

accessing through series

In [ ]:
s6[2]

'london'

another way

In [ ]:
print(s6["japan"])

tokyo

another method with two values

In [ ]:
print(s6[[2,0]])
print("\n")
print(s6[['india','japan']])

uk       london
india     delhi
dtype: object

slicing

In [ ]:
s6[0:3]

india     delhi
japan     tokyo
uk       london
dtype: object

In [ ]:
#emptyseries
s6[4:10]

Series([], dtype: object)

same in the reverse order

In [ ]:
s7=pd.Series(np.arange(1,50,5),index=['a','b','c','rio','jio','f','g','h','i','j'])
s7

a       1
b       6
c      11
rio    16
jio    21
f      26
g      31
h      36
i      41
j      46
dtype: int64

In [ ]:
#to_give_new_value
s7[0:3]=55
print(s7)

a      55
b      55
c      55
rio    16
jio    21
f      26
g      31
h      36
i      41
j      46
dtype: int64

In [ ]:
#name for the series
s7.name='multi5'
print(s7)

a      55
b      55
c      55
rio    16
jio    21
f      26
g      31
h      36
i      41
j      46
Name: multi5, dtype: int64

In [ ]:
#similarly index name too
s7.index.name='rio five'
print(s7)

rio five
a      55
b      55
c      55
rio    16
jio    21
f      26
g      31
h      36
i      41
j      46
Name: multi5, dtype: int64

In [ ]:
#print all values alone as a numpy array
print(s7.values)

[55 55 55 16 21 26 31 36 41 46]

In [ ]:
#for size
print(s7.size)

10

In [ ]:
#to check whether its empty
print(s7.empty)

False

In [ ]:
#by default head will print 5 values
s7.head()

rio five
a      55
b      55
c      55
rio    16
jio    21
Name: multi5, dtype: int64

In [ ]:
#by default tail will print last 5 values
s7.tail()

rio five
f    26
g    31
h    36
i    41
j    46
Name: multi5, dtype: int64

In [ ]:
#count (default function) counts no of values
s7.count()

10

In [ ]:
#counting according to silicing(size)
s7[0:3]=None
print(s7.count())
print(s7.size)

7
10

mathematical operations in series

In [ ]:
s9=pd.Series([10,20,30,40,50], index=['1','2','3','4','5'])
s10=pd.Series([100,200,300,400,500], index=['1','2','3','4','5'])
print(s9+s10)

1    110
2    220
3    330
4    440
5    550
dtype: int64

In [ ]:
#somemore functionalities
s9=pd.Series([10,20,30,40,50], index=['1','2','3','4','5'])
s10=pd.Series([100,200,300,400,500], index=['9','8','3','4','5'])
print(s9+s10)

1      NaN
2      NaN
3    330.0
4    440.0
5    550.0
8      NaN
9      NaN
dtype: float64

In [ ]:
#without returning nan
s9.add(s10, fill_value=0)

1     10.0
2     20.0
3    330.0
4    440.0
5    550.0
8    200.0
9    100.0
dtype: float64

In [ ]:
s9.add(s10, fill_value=1000)

1    1010.0
2    1020.0
3     330.0
4     440.0
5     550.0
8    1200.0
9    1100.0
dtype: float64

In [ ]:
# with division
s9.div(s10,fill_value=0)

1    inf
2    inf
3    0.1
4    0.1
5    0.1
8    0.0
9    0.0
dtype: float64

In [ ]:
#with multiplication
s9.mul(s10, fill_value=0)

1        0.0
2        0.0
3     9000.0
4    16000.0
5    25000.0
8        0.0
9        0.0
dtype: float64